.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(auto-fit, 361px);
    gap: 20px 17px;
    padding-bottom: 66px;
}

@media screen and (max-width: 900px) {
    .grid-cards {
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 650px) {
    .grid-cards {
        grid-template-columns: repeat(1, 282px);
        gap: 20px 0;
        padding-bottom: 48px;
    }
}