.card__like-button {
    margin: 0 5px 0 auto;
    background-image: url(../../../images/like-button.svg);
    width: 22px;
    height: 19px;
    cursor: pointer;
    border: none;
}

.card__like-button:hover{
    opacity: 0.6;
}