.profile__add-button {
    align-self: center;
    margin: 0 0 0 auto;
    height: 50px;
    width: 150px;
    background-image: url(../../../images/Vector.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    border: 2px white solid;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 650px) {
    .profile__add-button {
        margin: 0;
        margin-top: 36px;
        width: 282px;
        background-size: 16px;
    }
}